header{
    position: fixed;
    top: 1px;
    width: 100%;
    background-color: rgb(35, 231, 110);
    z-index: 10;
}
footer{
    position: fixed;
    bottom:1px;
    left: 1px;
    width: 100%;
    background-color: rgb(35, 231, 110);
}
main{
    
    border: 1px solid black;
    position: static;
    width: 50%;
    padding-top: 100px;
    background-color:white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "h"
                        "n"
                        "a"
                        "f"
                
}
nav{
    position: absolute;
    top: 100px;
    right:20px;
    padding-top:100px;
}
.szamologep{
    border: 1px solid black;;
}

body{
    background-color: rgb(192, 187, 187);
}