*{
    box-sizing: border-box;
}

body{
    background-color: rgb(226, 224, 224);
    margin: 0;
    padding: 0;
}

main{
    width: 80%;
    max-width: 800px;
    margin: auto;
    position: static;
    padding-top: 100px;
    background-color: white;
}

header{
    position: fixed;
    top: 1px;
    left: 1px;
    width: 100%;
    text-align: center;
    border-bottom: 1px dashed rgb(110, 53, 163);
    background-color: rgb(201, 177, 224);
    z-index: 10;
}

nav{
    position: absolute;
    top: 110px;
    right: 20px;
    background-color: rgb(127, 255, 212);
}

div{
    z-index: 10;
    color: rgb(236, 253, 2);
    font-size: 18px;
    background-color: rgb(100, 173, 197);
    position: absolute;
    width: 100%;
    top: 300px;
    padding: 10px;
    box-shadow: 15px 10px 20px 20px rgba(0, 0, 0, 0.658);
    left: calc((100% - 200px) / 2);
}

div p{
    position: relative;
    top: -38px;
}

div button{
    position: relative;
    bottom: 110px;
    left: 335px;
}

article{
    position: relative;
}

footer{
    position: fixed;
    bottom: 1px;
    left: 1px;
    width: 100%;
    text-align: center;
    border-top: 1px dashed blueviolet;
    background-color: rgb(201, 177, 224);
}